.container {
	max-width: 350px;
	margin: 0 auto;
	padding: 10px;

	text-align: center;

	background-color: #000000;
	border: 2px solid #00ff00;
	border-radius: 10px;
}

.display {
	/* display: block; */
	height: 40px;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 10px;

	background-color: #525252;
	border: 1px solid #0bcf05;
	border-radius: 20px;

	font-size: 36px;
	line-height: normal;
	font-weight: 600;
	font-family: sans-serif;
}

.green {
	color: #00ff00;
}

.white {
	color: #ffffff;
}

.buttons {
	display: flex;
}

.numbers {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid green;
}

.operators {
	box-sizing: border-box;
	width: 50%;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid red;
}

.item {
	margin-right: 10px;
}

.btnNum {
	padding: 10px;
	border-radius: 50%;
	border: none;
}
