.container {
	max-width: 350px;
	margin: 0 auto;
	padding: 10px;

	text-align: center;

	background-color: #000000;
	border: 2px solid #00ff00;
	border-radius: 10px;
}

.display {
	height: 40px;
	margin-bottom: 20px;
	margin-top: 0;
	padding: 10px;

	background-color: #525252;
	border: 1px solid #0bcf05;
	border-radius: 20px;

	font-size: 36px;
	line-height: normal;
	font-weight: 600;
	font-family: sans-serif;
}

.green {
	color: #00ff00;
}

.white {
	color: #ffffff;
}

.buttons {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}

.numbers {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 40%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.operators {
	width: 40%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.item {
	flex-basis: calc((100% - 20px) / 3);
}

.itemOper {
	width: 100%;
}

.itemOper:not(:last-child) {
	margin-bottom: 20px;
}

.btn {
	cursor: pointer;
	border-radius: 10px;
	border: 1px solid #00ff00;

	font-size: 24px;
	font-weight: 600;
	font-family: sans-serif;

	color: #7fff00;
	background-color: transparent;
}

.btn:hover {
	background-color: #7fff00;
	color: #000000;
}

.btn:disabled {
	cursor: auto;
	background-color: transparent;
	color: #ff0000;
	border-color: #ff0000;
}

.btnNum {
	padding: 10px;
}

.btnFunc {
	display: block;
	width: 100%;
	padding: 10px;
}

.btnEqual {
	background-color: #808080;
}

.reset {
	display: block;
	width: 100%;
}
